.CourierNew07 {  font-family: "Courier New", Courier, mono; font-size: 7pt}
.CourierNew08 {  font-family: "Courier New", Courier, mono; font-size: 8pt}
.CourierNew09 {  font-family: "Courier New", Courier, mono; font-size: 9pt}
.CourierNew10 {  font-family: "Courier New", Courier, mono; font-size: 10pt}
.CourierNew12 {  font-family: "Courier New", Courier, mono; font-size: 12pt}
