
.verdana10 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
.verdana11 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt}
.underline {  text-decoration: underline; font-family: Verdana, Arial, Helvetica, sans-serif}
.fed {  font-weight: bold; font-family: Verdana, Arial, Helvetica, sans-serif}
.verdana08 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt }
.verdana09 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9pt }
.verdana12 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13pt }
.verdana07 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 7pt}
