body {
background-image: url('../images/bg.jpg');
margin:0;
background-color:#000000;
}

table {
padding: 0;
border-collapse: collapse;
}

p            {
font-family: verdana, arial, sans-serif;
font-size: 10px;
color: #FFFFFF;
margin: 8 8;
text-align:left }

.floga            {
font-family: verdana, arial, sans-serif;
font-size: 11px;
color: #FFCC00;
font-weight: bold;
margin: 8 8;
text-align:left }


a {
color: #808080;
text-decoration: underline;

}

a:hover {
color: #FFCC00;
text-decoration:none
}

.borderbottom  {
border-bottom:3px solid #FFFFFF;
background-color:#000000;
}